.hero-unit {
  background: url('/img/hero1.jpg') center no-repeat;
  background-size: cover;
  height: 900px;
  
  .hero-container {
    text-align: center;
    margin-top: 240px;
    text-shadow: 0 1px 2px #000;

    .hero-logo {
      border-radius: 50%;
      background-color: $color-primary-500;
      width: 80px;
      height: 80px;
      padding: 16px 0;
      margin: 0 auto;
      
      svg {
        fill: #fff;
      }
    }
    
    .hero-title {
      color: #fff;
      font-size: 54px;
      font-weight: $font-weight-medium;
      margin-top: 0;
      display: inline-block;
    }
    
    .hero-description {
      color: #fff;
      font-size: 28px;
      font-weight: $font-weight-light;
    }
  }
}