// font weights
$font-weight-thin: 100;
$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;
$font-weight-ultra: 900;

// base font
$base-font-family: 'Roboto', Helvetica, sans-serif;
$base-font-weight: $font-weight-normal;
$base-font-size: 14px;

// font sizes
$text-size-large: 16px;
$text-size-small: 12px;

// colors
$color-teal-1: #52c1b1;
$color-teal-1: #2bad9d;
$color-teal-3: #13978b;
$color-teal-4: #068273;
$color-teal-5: #006657;

$color-white-1: #ffffff;
$color-white-2: #f3f3f3;
$color-white-3: #e3e3e3;
$color-white-4: #d3d3d3;
$color-white-5: #c3c3c3;

$color-yellow-50: #fff7de;
$color-yellow-100: #fff1c4;
$color-yellow-200: #ffebab;
$color-yellow-300: #ffe591;
$color-yellow-400: #ffdf78;
$color-yellow-500: #ffd95e;
$color-yellow-600: #e5c455;
$color-yellow-700: #ccae4b;
$color-yellow-800: #b39842;
$color-yellow-900: #998339;

$color-blue-50: #deefff;
$color-blue-100: #abd6ff;
$color-blue-200: #78beff;
$color-blue-300: #66aef2;
$color-blue-400: #5b9cd9;
$color-blue-500: #5089c0;
$color-blue-600: #4677a6;
$color-blue-700: #3b658c;
$color-blue-800: #385f85;
$color-blue-900: #305373;

$color-red-100: #ffcfc7;
$color-red-200: #ffb9ab;
$color-red-300: #ffa491;
$color-red-400: #ff8e78;
$color-red-500: #ff795e;
$color-red-600: #ed6b51;
$color-red-700: #d35e47;
$color-red-800: #ba543f;
$color-red-900: #a14837;

$color-orange-100: #ffd7c4;
$color-orange-200: #ffc5ab;
$color-orange-300: #ffb491;
$color-orange-400: #ffa378;
$color-orange-500: #ff915e;
$color-orange-600: #e58355;
$color-orange-700: #cc744b;
$color-orange-800: #b36642;
$color-orange-900: #995739;

$color-green-100: #d8ffd6;
$color-green-200: #c0ffbd;
$color-green-300: #a8ffa3;
$color-green-400: #96e892;
$color-green-500: #86cf82;
$color-green-600: #75b572;
$color-green-700: #659c62;
$color-green-800: #548252;
$color-green-900: #446942;

$color-grey-1: #a0a0a0;
$color-grey-2: #909090;
$color-grey-3: #808080;
$color-grey-4: #595959;
$color-grey-5: #404040;

$color-blue-1: #76aace;
$color-blue-2: #6599c4;
$color-blue-3: #5089c0;
$color-blue-4: #437ba8;
$color-blue-5: #356a8e;

$color-red-1: #d87668;
$color-red-2: #d1604a;
$color-red-3: #c15a42;
$color-red-4: #aa4b39;
$color-red-5: #93473d;

$color-orange-1: #ffae6c;
$color-orange-2: #fc9d47;
$color-orange-3: #f88f24;
$color-orange-4: #ea8124;
$color-orange-5: #db7428;

$color-green-1: #91cd8e;
$color-green-2: #83bd7f;
$color-green-3: #6fa76c;
$color-green-4: #5c915a;
$color-green-5: #4d7a4b;

$color-yellow-1: #FFF1C4;
$color-yellow-2: #FFE591;
$color-yellow-3: #FFD95E;
$color-yellow-4: #CCAE4B;
$color-yellow-5: #998339;


// z-index order of importance
$z-index-1: 10;
$z-index-2: 20;
$z-index-3: 30;
$z-index-4: 40;
$z-index-5: 50;
$z-index-override-all: 9999;

// global breakpoints
$break-tablet: 768px;
$break-computer: 992px;
$break-computer-wide: 1200px;

// grid gutter sizes (in percentages)
$gutter-large: 5%;
$gutter-medium: 4%;
$gutter-small: 3%;
$base-gutter: $gutter-small;

// global natural box layout
*:not(table), *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body, html {
  width: auto;
  height: auto;
  margin: 0;
  padding: 0;
  font-family: $base-font-family;
  font-weight: $base-font-weight;
  font-size: $base-font-size;
  -webkit-font-smoothing: antialiased;
}

@mixin clearfix() {
  &:before,
  &:after { content: ""; display: table; }
  &:after { clear: both; }
  zoom: 1;
}

// global modifiers
.clearfix {
  @include clearfix;
}

.box-sizing-content {
  @include box-sizing-content;
}
.ti             { vertical-align: middle; }

.color-red      { color: $color-red-500 }

.is-hidden      { display: none !important; }
.is-invisible   { visibility: hidden !important; }

.block          { display: block !important; }
.inline         { display: inline !important; }
.inline-block   { display: inline-block !important; }

.pull-left      { float: left !important; }
.pull-right     { float: right !important; }

.text-left      { text-align: left !important; }
.text-right     { text-align: right !important; }
.text-center    { text-align: center !important; }

.strong         { font-weight: $font-weight-bold; }

// quick margin classes
.mr-small       { margin-right: 5px !important; }
.mr-medium      { margin-right: 10px !important; }
.mr-large       { margin-right: 20px !important; }
.ml-small       { margin-left: 5px !important; }
.ml-medium      { margin-left: 10px !important; }
.ml-large       { margin-left: 20px !important; }
.mt-small       { margin-top: 5px !important; }
.mt-medium      { margin-top: 10px !important; }
.mt-large       { margin-top: 20px !important; }
.mb-small       { margin-bottom: 5px !important; }
.mb-medium      { margin-bottom: 10px !important; }
.mb-large       { margin-bottom: 20px !important; }

// quick padding classes
.pr-small       { padding-right: 5px !important; }
.pr-medium      { padding-right: 10px !important; }
.pr-large       { padding-right: 20px !important; }
.pl-small       { padding-left: 5px !important; }
.pl-medium      { padding-left: 10px !important; }
.pl-large       { padding-left: 20px !important; }
.pt-small       { padding-top: 5px !important; }
.pt-medium      { padding-top: 10px !important; }
.pt-large       { padding-top: 20px !important; }
.pb-small       { padding-bottom: 5px !important; }
.pb-medium      { padding-bottom: 10px !important; }
.pb-large       { padding-bottom: 20px !important; }