

input[type="text"], input[type="email"], input[type="tel"], select, textarea {
  margin: 0;
  padding: 8px 12px;
  border-radius: 2px;
  border: solid 1px transparent;
  background: $color-white-3;
  font-family: $base-font-family;
  font-size: 14px;
  @include box-sizing-border();
  @include border-radius(2px, 2px, 2px, 2px);
  @include box-shadow(outset, 0px, 3px, 0, rgba(0,0,0,.2));
  -webkit-transition: background 200ms ease, border 200ms ease;
  -moz-transition: background 200ms ease, border 200ms ease;
  -ms-transition: background 200ms ease, border 200ms ease;
  -o-transition: background 200ms ease, border 200ms ease;
  transition: background 200ms ease, border 200ms ease;
  
  &:focus {
    outline: none;
    border-color: $color-blue-500;
    @include box-shadow-none;
  }

  &.form-control {
    margin-bottom: 10px;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    &.form-lg {
      padding-top: 12px;
      padding-bottom: 12px;
    }
  }

}

textarea {
  min-height: 120px;
  padding: 10px;
  max-width: 100%;
}

.form-group {
  position: relative;
  margin: 0 0 20px 0;
  
  &.form-group-input-btn {
    input {
      padding-right: 46px;
    }
    
    select {
      padding-right: 86px;
    }
    
    a {
      position: absolute;
      bottom: 0;
      right: 0;
      display: block;
      height: 36px;
      width: 36px;
      background: transparent;
      line-height: 38px;
      text-align: center;
      font-size: 16px;
      @include border-radius(0, 2px, 2px, 0);
      
      &:hover {
        background: $color-blue-3;
        color: #fff;
      }
    }
  }
  
  label {
    display: block;
    font-weight: $font-weight-bold;
    text-transform: uppercase;
    color: $color-grey-3;
    margin-bottom: 6px;
    font-size: 14px;
    
    span.asterisk {
      color: $color-red-500;
    }
    
    &.error {
      color: $color-red-500;
    }
  }
  
  p.form-description {
    margin-top: 0;
    color: #808080;
    font-weight: 300;
  }
}

.form-required {
  color: $color-red-500;
  font-size: 12px;
}

/**** submit btn ****/

