.container {
  margin: 0 20px;
  
  @include breakpoint(tablet) {
    margin: 0 auto;
    width: $break-tablet - 74;
  }
  
  @include breakpoint(computer) {
    width: $break-computer - 74;
  }
  
  @include breakpoint(computer-wide) {
    width: $break-computer-wide - 74;
  }
}

.row {
  margin: 0;
  clear: both;
  
  &:before {
    clear: both;
    display: table;
    content: " ";
  }

  &:after {
    clear: both;
    display: table;
    content: " ";
  }

  // small, medium, large columns
  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4,
  .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8,
  .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12,
  .col-md-1, .col-md-2, .col-md-3, .col-md-4,
  .col-md-5, .col-md-6, .col-md-7, .col-md-8,
  .col-md-9, .col-md-10, .col-md-11, .col-md-12,
  .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4,
  .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8,
  .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    width: auto;
    margin: 0;
    float: none;
  }

  // extra small columns
  .col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4,
  .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8,
  .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12,{
    float: left;
  }

  .col-xs-1 {
    margin: 0 ($base-gutter / 2);
    width: 8.333333% - $base-gutter;
  }

  .col-xs-2 {
    margin: 0 ($base-gutter / 2);
    width: 16.666666% - $base-gutter;
  }

  .col-xs-3 {
    margin: 0 ($base-gutter / 2);
    width: 25% - $base-gutter;
  }

  .col-xs-4 {
    margin: 0 ($base-gutter / 2);
    width: 33.333333% - $base-gutter;
  }

  .col-xs-5 {
    margin: 0 ($base-gutter / 2);
    width: 41.666666% - $base-gutter;
  }

  .col-xs-6 {
    margin: 0 ($base-gutter / 2);
    width: 50% - $base-gutter;
  }

  .col-xs-7 {
    margin: 0 ($base-gutter / 2);
    width: 58.333333% - $base-gutter;
  }

  .col-xs-8 {
    margin: 0 ($base-gutter / 2);
    width: 66.666666% - $base-gutter;
  }

  .col-xs-9 {
    margin: 0 ($base-gutter / 2);
    width: 75% - $base-gutter;
  }

  .col-xs-10 {
    margin: 0 ($base-gutter / 2);
    width: 83.333333% - $base-gutter;
  }

  .col-xs-11 {
    margin: 0 ($base-gutter / 2);
    width: 91.666666% - $base-gutter;
  }

  .col-xs-12 {
    margin: 0 ($base-gutter / 2);
    width: 100% - $base-gutter;
  }


  @include breakpoint(tablet) {
    margin: 0 ($base-gutter / -2);

    .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4,
    .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8,
    .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12,{
      float: left;
    }
        
    .col-sm-1 {
      margin: 0 ($base-gutter / 2);
      width: 8.333333% - $base-gutter;
    }
    
    .col-sm-2 {
      margin: 0 ($base-gutter / 2);
      width: 16.666666% - $base-gutter;
    }
    
    .col-sm-3 {
      margin: 0 ($base-gutter / 2);
      width: 25% - $base-gutter;
    }

    .col-sm-4 {
      margin: 0 ($base-gutter / 2);
      width: 33.333333% - $base-gutter;
    }

    .col-sm-5 {
      margin: 0 ($base-gutter / 2);
      width: 41.666666% - $base-gutter;
    }

    .col-sm-6 {
      margin: 0 ($base-gutter / 2);
      width: 50% - $base-gutter;
    }
    
    .col-sm-7 {
      margin: 0 ($base-gutter / 2);
      width: 58.333333% - $base-gutter;
    }

    .col-sm-8 {
      margin: 0 ($base-gutter / 2);
      width: 66.666666% - $base-gutter;
    }

    .col-sm-9 {
      margin: 0 ($base-gutter / 2);
      width: 75% - $base-gutter;
    }

    .col-sm-10 {
      margin: 0 ($base-gutter / 2);
      width: 83.333333% - $base-gutter;
    }

    .col-sm-11 {
      margin: 0 ($base-gutter / 2);
      width: 91.666666% - $base-gutter;
    }

    .col-sm-12 {
      margin: 0 ($base-gutter / 2);
      width: 100% - $base-gutter;
    }

  }
  
  @include breakpoint(computer) {
    margin: 0 ($base-gutter / -2);

    .col-md-1, .col-md-2, .col-md-3, .col-md-4,
    .col-md-5, .col-md-6, .col-md-7, .col-md-8,
    .col-md-9, .col-md-10, .col-md-11, .col-md-12,{
      float: left;
    }

    .col-md-1 {
      margin: 0 ($base-gutter / 2);
      width: 8.333333% - $base-gutter;
    }

    .col-md-2 {
      margin: 0 ($base-gutter / 2);
      width: 16.666666% - $base-gutter;
    }

    .col-md-3 {
      margin: 0 ($base-gutter / 2);
      width: 25% - $base-gutter;
    }

    .col-md-4 {
      margin: 0 ($base-gutter / 2);
      width: 33.333333% - $base-gutter;
    }

    .col-md-5 {
      margin: 0 ($base-gutter / 2);
      width: 41.666666% - $base-gutter;
    }

    .col-md-6 {
      margin: 0 ($base-gutter / 2);
      width: 50% - $base-gutter;
    }

    .col-md-7 {
      margin: 0 ($base-gutter / 2);
      width: 58.333333% - $base-gutter;
    }

    .col-md-8 {
      margin: 0 ($base-gutter / 2);
      width: 66.666666% - $base-gutter;
    }

    .col-md-9 {
      margin: 0 ($base-gutter / 2);
      width: 75% - $base-gutter;
    }

    .col-md-10 {
      margin: 0 ($base-gutter / 2);
      width: 83.333333% - $base-gutter;
    }

    .col-md-11 {
      margin: 0 ($base-gutter / 2);
      width: 91.666666% - $base-gutter;
    }

    .col-md-12 {
      margin: 0 ($base-gutter / 2);
      width: 100% - $base-gutter;
    }

  }

  @include breakpoint(computer-wide) {
    margin: 0 ($base-gutter / -2);

    .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4,
    .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8,
    .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
      float: left;
    }

    .col-lg-1 {
      margin: 0 ($base-gutter / 2);
      width: 8.333333% - $base-gutter;
    }

    .col-lg-2 {
      margin: 0 ($base-gutter / 2);
      width: 16.666666% - $base-gutter;
    }

    .col-lg-3 {
      margin: 0 ($base-gutter / 2);
      width: 25% - $base-gutter;
    }

    .col-lg-4 {
      margin: 0 ($base-gutter / 2);
      width: 33.333333% - $base-gutter;
    }

    .col-lg-5 {
      margin: 0 ($base-gutter / 2);
      width: 41.666666% - $base-gutter;
    }

    .col-lg-6 {
      margin: 0 ($base-gutter / 2);
      width: 50% - $base-gutter;
    }

    .col-lg-7 {
      margin: 0 ($base-gutter / 2);
      width: 58.333333% - $base-gutter;
    }

    .col-lg-8 {
      margin: 0 ($base-gutter / 2);
      width: 66.666666% - $base-gutter;
    }

    .col-lg-9 {
      margin: 0 ($base-gutter / 2);
      width: 75% - $base-gutter;
    }

    .col-lg-10 {
      margin: 0 ($base-gutter / 2);
      width: 83.333333% - $base-gutter;
    }

    .col-lg-11 {
      margin: 0 ($base-gutter / 2);
      width: 91.666666% - $base-gutter;
    }

    .col-lg-12 {
      margin: 0 ($base-gutter / 2);
      width: 100% - $base-gutter;
    }

  }
  
}











