.label {
  border: solid 1px transparent;
  border-radius: 4px;
  font-size: 12px;
  padding: 1px 4px;
  text-decoration: none;
  display: inline-block;
  
  
  &.label-default {
    border-color: $color-white-3;
    background-color: #fff;
    color: $color-grey-3;

    &:hover {
      background-color: $color-white-2;
    }
  }
  
  &.label-primary {
    background-color: $color-blue-3;
    border-color: $color-blue-5;
    color: #fff;
    
    &:hover {
      background-color: $color-blue-5;
    }
  }
  
  &.label-alert {
    background-color: $color-teal-3;
    border-color: $color-teal-5;
    color: #fff;

    &:hover {
      background-color: $color-teal-5;
    }
  }
  
  &.label-warning {
    background-color: $color-orange-3;
    border-color: $color-orange-5;
    color: #fff;

    &:hover {
      background-color: $color-orange-5;
    }
  }
  
  &.label-danger {
    background-color: $color-red-3;
    border-color: $color-red-5;
    color: #fff;

    &:hover {
      background-color: $color-red-5;
    }
  }
}