<div class="nav">
    <div class="nav-red">
        <div class="container">
            <div class="nav-logo"></div>
            <ul class="nav-links">
                <li>
                    Profile
                </li>
                <li>
                    Journal
                </li>
                <li>
                    Gallery
                </li>
                <li>
                    Account
                </li>
            </ul>
        </div>
    </div>
    <div class="container">
        <ul class="nav-links">
            <li>
                Help
            </li>
            <li>
                Log Out
            </li>
        </ul>
    </div>
</div>