.alert {
  padding: 10px;
  border-radius: $button-border-radius;
  background-color: lighten($color-accent-500, 20%);
  color: darken($color-accent-500, 25%);
  font-weight: $font-weight-bold;
  margin-bottom: 10px;
}