// font weights
$font-weight-thin: 100;
$font-weight-light: 200;
$font-weight-book: 300;
$font-weight-regular: 400;
$font-weight-semibold: 500;
$font-weight-bold: 700;
$font-weight-heavy: 800;
$font-weight-black: 900;

// base font
$base-font-family: 'Glober', Helvetica, sans-serif;
$base-font-weight: $font-weight-regular;
$base-font-size: 16px;

// font sizes
$text-size-large: 18px;
$text-size-small: 14px;

// button/input dimensions
$button-height: 38px;
$button-border-radius: 3px;
$button-line-thickness: 2px;

// context menu sizes
$context-menu-sm: 200px;
$context-menu-md: 300px;

// colors
$color-primary-100: #d8ffd6;
$color-primary-200: #c0ffbd;
$color-primary-300: #a8ffa3;
$color-primary-400: #96e892;
$color-primary-500: #86cf82;
$color-primary-600: #75b572;
$color-primary-700: #659c62;
$color-primary-800: #548252;
$color-primary-900: #446942;

$color-accent-50: #fff7de;
$color-accent-100: #fff1c4;
$color-accent-200: #ffebab;
$color-accent-300: #ffe591;
$color-accent-400: #ffdf78;
$color-accent-500: #ffd95e;
$color-accent-600: #e5c455;
$color-accent-700: #ccae4b;
$color-accent-800: #b39842;
$color-accent-900: #998339;

$color-error-100: #ffcfc7;
$color-error-200: #ffb9ab;
$color-error-300: #ffa491;
$color-error-400: #ff8e78;
$color-error-500: #ff795e;
$color-error-600: #ed6b51;
$color-error-700: #d35e47;
$color-error-800: #ba543f;
$color-error-900: #a14837;

$color-warning-100: #ffd7c4;
$color-warning-200: #ffc5ab;
$color-warning-300: #ffb491;
$color-warning-400: #ffa378;
$color-warning-500: #ff915e;
$color-warning-600: #e58355;
$color-warning-700: #cc744b;
$color-warning-800: #b36642;
$color-warning-900: #995739;

$color-success-100: #d8ffd6;
$color-success-200: #c0ffbd;
$color-success-300: #a8ffa3;
$color-success-400: #96e892;
$color-success-500: #86cf82;
$color-success-600: #75b572;
$color-success-700: #659c62;
$color-success-800: #548252;
$color-success-900: #446942;

$color-grey-100: #d3d3d3;
$color-grey-200: #c3c3c3;
$color-grey-300: #b3b3b3;
$color-grey-400: #a3a3a3;
$color-grey-500: #808080;
$color-grey-600: #707070;
$color-grey-700: #606060;
$color-grey-800: #505050;
$color-grey-900: #404040;


// z-index order of importance
$z-index-1: 10;
$z-index-2: 20;
$z-index-3: 30;
$z-index-4: 40;
$z-index-5: 50;
$z-index-override-all: 9999;

// global breakpoints
$break-tablet: 768px;
$break-computer: 992px;
$break-computer-wide: 1200px;

// grid gutter sizes (in percentages)
$gutter-large: 5%;
$gutter-medium: 4%;
$gutter-small: 3%;
$base-gutter: $gutter-small;

// global natural box layout
*:not(table), *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body, html {
  width: auto;
  height: auto;
  margin: 0;
  padding: 0;
  font-family: $base-font-family;
  font-weight: $base-font-weight;
  font-size: $base-font-size;
  -webkit-font-smoothing: antialiased;
}

@mixin clearfix() {
  &:before,
  &:after { content: ""; display: table; }
  &:after { clear: both; }
  zoom: 1;
}

// global modifiers
.clearfix {
  @include clearfix;
}

.box-sizing-content {
  @include box-sizing-content;
}
.ti             { vertical-align: middle; }

.color-green     { color: $color-primary-500; }
.color-red      { color: $color-error-500; }

.is-hidden      { display: none !important; }
.is-invisible   { visibility: hidden !important; }

.block          { display: block !important; }
.inline         { display: inline !important; }
.inline-block   { display: inline-block !important; }

.pull-left      { float: left !important; }
.pull-right     { float: right !important; }

.text-left      { text-align: left !important; }
.text-right     { text-align: right !important; }
.text-center    { text-align: center !important; }

.strong         { font-weight: $font-weight-bold; }

// quick margin classes
.mr-sm          { margin-right: 5px !important; }
.mr-md          { margin-right: 10px !important; }
.mr-lg          { margin-right: 20px !important; }
.ml-sm          { margin-left: 5px !important; }
.ml-md          { margin-left: 10px !important; }
.ml-lg          { margin-left: 20px !important; }
.mt-sm          { margin-top: 5px !important; }
.mt-md          { margin-top: 10px !important; }
.mt-lg          { margin-top: 20px !important; }
.mb-sm          { margin-bottom: 5px !important; }
.mb-md          { margin-bottom: 10px !important; }
.mb-lg          { margin-bottom: 20px !important; }

// quick padding classes
.pr-sm          { padding-right: 5px !important; }
.pr-md          { padding-right: 10px !important; }
.pr-lg          { padding-right: 20px !important; }
.pl-sm          { padding-left: 5px !important; }
.pl-md          { padding-left: 10px !important; }
.pl-lg          { padding-left: 20px !important; }
.pt-sm          { padding-top: 5px !important; }
.pt-md          { padding-top: 10px !important; }
.pt-lg          { padding-top: 20px !important; }
.pb-sm          { padding-bottom: 5px !important; }
.pb-md          { padding-bottom: 10px !important; }
.pb-lg          { padding-bottom: 20px !important; }