button {
  font-family: $base-font-family;
}

.caret {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 2px;
  vertical-align: middle;
  border-top:   4px dashed;
  border-right: 4px solid transparent;
  border-left:  4px solid transparent;
}

.btn {
  font-size: $base-font-size;
  font-weight: $font-weight-bold;
  height: $button-height;
  padding: 6px 10px;
  border: solid $button-line-thickness $color-grey-300;
  border-radius: $button-border-radius;
  background-color: rgba(#fff, .4);
  color: $color-grey-500;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
  position: relative;
  text-align: center;
  -webkit-transition: background 200ms ease, border 200ms ease, color 200ms ease;
  -moz-transition: background 200ms ease, border 200ms ease, color 200ms ease;
  -ms-transition: background 200ms ease, border 200ms ease, color 200ms ease;
  -o-transition: background 200ms ease, border 200ms ease, color 200ms ease;
  transition: background 200ms ease, border 200ms ease, color 200ms ease;
  @include box-sizing-border();

  &:visited {
    color: inherit;
    text-decoration: none;
  }

  &:hover {
    text-decoration: none;
    background-color: $color-grey-500;
    border-color: transparent;
    color: #fff;
  }

  &:active {
    text-decoration: none;
    outline: none;
  }

  &:focus {
    outline: none;
    text-decoration: none;
  }

  /*------------------------------------
    large
  ------------------------------------*/
  &.btn-lg {
    height: $button-height + 18px;
    font-size: 1.3em;
    padding: 0 18px;
  }

  /*------------------------------------
    close
  ------------------------------------*/
  &.btn-close {
    border-radius: 100%;
    height: 32px;
    width: 32px;
    padding: 5px 0;
  }

  /*------------------------------------
    square
  ------------------------------------*/
  &.btn-square {
    padding: 0;
    width: 32px;
  }

  /*------------------------------------
  block
  ------------------------------------*/
  &.btn-block {
    display: block;
    width: 100%;
  }

  /*------------------------------------
  close
  ------------------------------------*/
  &.btn-close {
    width: 30px;
    height: 30px;
    border-radius: 2px;
    border: none;
    background-color: transparent;
    padding: 5px 0;
    color: $color-grey-500;
    text-align: center;
    position: absolute;
    top: 20px;
    right: 20px;

    &:hover {
      background-color: $color-grey-100;
    }
  }


  /*------------------------------------
    primary
  ------------------------------------*/
  &.btn-primary {
    background-color: transparent;
    border-color: $color-primary-500;
    color: $color-primary-500;

    &:hover, &:active {
      background-color: $color-primary-500;
      color: #fff;
    }
  }

  &.btn-primary-fill {
    background-color: $color-primary-500;
    border-color: transparent;
    color: #fff;

    &:hover {
      border-color: transparent;
      background-color: $color-primary-700;
      color: #fff;
    }
  }

  &.btn-primary-transparent {
    background-color: transparent;
    color: $color-primary-500;
    border-color: transparent;

    &:hover {
      border-color: transparent;
      background-color: $color-primary-500;
      color: #fff;

    }
  }

  /*------------------------------------
  white
------------------------------------*/
  &.btn-white {
    background-color: transparent;
    border-color: #fff;
    color: #fff;

    &:hover {
      background-color: $color-primary-500;
      border-color: transparent;
      color: #fff;
    }
  }

  &.btn-white-fill {
    background-color: #fff;
    border-color: transparent;
    color: $color-primary-500;

    &:hover {
      border-color: transparent;
      background-color: $color-primary-500;
      color: #fff;
    }
  }

  &.btn-white-transparent {
    border: transparent;
    color: #fff;
    background: transparent;

    &:hover {
      background-color: $color-primary-500;
      color: #fff;
    }
  }


  /*------------------------------------
    black
  ------------------------------------*/
  &.btn-black {
    background-color: transparent;
    border-color: $color-grey-900;
    color: $color-grey-900;

    &:hover {
      background-color: $color-primary-500;
      border-color: transparent;
      color: #fff;
    }
  }

  &.btn-black-fill {
    background-color: $color-grey-900;
    border-color: transparent;
    color: #fff;

    &:hover {
      border-color: transparent;
      background-color: $color-primary-500;
      color: #fff;
    }
  }

  &.btn-black-transparent {
    border: transparent;
    color: $color-grey-900;
    background: transparent;

    &:hover {
      background-color: $color-primary-500;
      color: #fff;
    }
  }



  /*------------------------------------
     grey
   ------------------------------------*/
  &.btn-grey {
    border-color: $color-grey-100;
    background-color: transparent;
    color: $color-grey-200;

    &:hover {
      border-color: $color-grey-100;
      background-color: $color-grey-100;
      color: $color-grey-700;
    }
  }
}

.btn-group {

  >.btn {
    border-radius: 0;
    float: left;
    border-right-color: transparent;
  }

  >.btn:first-child {
    border-radius: $button-border-radius 0 0 $button-border-radius;
  }

  >.btn:last-child {
    border-radius: 0 $button-border-radius $button-border-radius 0;
    border-right-color: inherit;
  }
}