input[type="text"], input[type="email"], input[type="tel"], input[type="search"], input[type="password"],  select, textarea {
  margin: 0;
  height: $button-height;
  line-height: 20px;
  padding: 5px 10px;
  border-radius: $button-border-radius;
  border: solid 2px rgba($color-grey-100, .3);
  background-color: rgba($color-grey-100, .3);
  background-image: none;
  font-family: $base-font-family;
  font-size: 14px;
  -webkit-transition: background 200ms ease, border 200ms ease;
  -moz-transition: background 200ms ease, border 200ms ease;
  -ms-transition: background 200ms ease, border 200ms ease;
  -o-transition: background 200ms ease, border 200ms ease;
  transition: background 200ms ease, border 200ms ease;
  @include box-sizing-border();
  @include border-radius(2px, 2px, 2px, 2px);
  @include box-shadow-none();

  &:focus, &:active {
    border-color: $color-accent-500;
    outline: none;
  }

}

.form-control {
  display: block;
  width: 100%;

  &[disabled],
  &[readonly],
  fieldset[disabled] & {
    background-color: $color-grey-500;
    opacity: 1;
  }

  &[disabled],
  fieldset[disabled] & {
    cursor: not-allowed;
  }
}

.form-group {
  margin-bottom: 14px;
  
  span.error {
    font-size: 12px;
    font-weight: 700;
    color: $color-grey-500;
    text-transform: uppercase;
  }
}


label {
  font-weight: $font-weight-bold;
  font-size: 12px;
  display: block;
  padding: 4px 0;
  color: $color-grey-500;
  text-transform: uppercase;

  .error {
    color: $color-error-500;
  }
}

textarea {
  max-width: 100%;
  resize: none;
}

.standard-form {
  max-width: 400px;
  margin: 0 auto;
  padding: 60px 0;

  svg {
    fill: $color-primary-500;
  }

  h4 {
    margin: 0 0 20px 0;
    color: $color-primary-500;
  }
}

checkbox {
  height: 24px;
  width: 24px;
  color: $color-grey-300;

  i {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;

    &.gi-check-box {
      color: $color-primary-500
    }
  }
}