input[type="text"], input[type="email"], input[type="tel"], input[type="search"], select, textarea {
  margin: 0;
  height: 32px;
  padding: 0 10px;
  border-radius: 3px;
  border: solid 1px $color-grey-200;
  background: #fff;
  font-family: $base-font-family;
  font-size: 14px;
  -webkit-transition: background 200ms ease, border 200ms ease;
  -moz-transition: background 200ms ease, border 200ms ease;
  -ms-transition: background 200ms ease, border 200ms ease;
  -o-transition: background 200ms ease, border 200ms ease;
  transition: background 200ms ease, border 200ms ease;
  @include box-sizing-border();
  @include border-radius(2px, 2px, 2px, 2px);
  @include box-shadow-none();

  &:focus, &:active {
    border-color: $color-primary-500;
    outline: none;
  }
}

textarea {
  min-height: 120px;
  padding: 10px;
  max-width: 100%;
} 