header.header-main {
  height: 60px;

  .header-logo {
    padding: 12px 0;
    float: left;
    
    svg {
      fill: #fff;
    }
  }

  .header-login {
    margin-top: 11px;
  }
}

header.header-app {
  @extend header.header-main;
  background-color: #fff;
  
  .header-logo {
    svg {
      fill: $color-primary-500;
    }
  }

  .header-nav {
    z-index: $z-index-5;
    position: absolute;
    background-color: $color-accent-500;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: none;
    -webkit-box-shadow: 0 0 10px rgba(#000, .3);
    -moz-box-shadow: 0 0 10px rgba(#000, .3);
    box-shadow: 0 0 10px rgba(#000, .3);

    .list {
      margin-top: 30px;
      padding: 20px;

      li {
        text-align: center;

        > a {
          color: $color-accent-900;
        }

        &.divider {
          background-color: $color-accent-900;
        }
      }
    }
  }

  .header-hamburger {
    margin-top: 10px;
    float: right;

    .gi {
      font-size: 24px;
    }

    &:hover {
      background-color: #fff;
      color: $color-primary-500;
    }

    @include breakpoint(tablet) {
      display: none;
    }
  }

  .header-nav-close {





    border-color: transparent;
    background-color: transparent;
    color: $color-accent-900;
    margin-right: 20px;
  }
}