header.header-main {
  height: 60px;
  
  .header-logo {
    padding: 12px 0;
    float: left;
    
    svg {
      fill: #fff;
    }
  }

  .header-login {
    margin-top: 11px;
  }
}

header.header-app {
  @extend header.header-main;
  @include box-shadow(0, 2px, 10px, rgba(0,0,0,.3));
  
  .header-logo {
    svg {
      fill: $color-primary-500;
    }
  }
}