.layout-main {
  position: relative;
  background-color: #fff;
  z-index: $z-index-3;
  margin-left: 180px;
  padding: 20px;
}

.action-bar {
  margin: 0 10px 10px 10px;
  padding: 10px;
  border-radius: 4px;
  height: 58px;
}