.tl-notify-container {
  position: fixed;
  bottom: 20px;
  left: 20px;
  z-index: $z-index-5;
}

.tl-notify {
  background-color: $color-grey-900;
  color: #fff;
  margin-top: 10px;
  border-radius: 4px;
  padding: 10px 40px 10px 14px;
  position: relative;
  display: none;
  
  .tl-notify-close {
    position: absolute;
    top: 10px;
    right: 10px;
    height: 20px;
    width: 20px;
    background-color: transparent;
    border: none;
    text-align: center;
    border-radius: 3px;
    padding: 0;
    margin: 0;
    color: rgba(#fff, .5);
    
    &:hover {
      background-color: $color-primary-500;
      color: #fff;
    }
    
    i {
      font-size: 14px;
    }
  }
  
  .tl-notify-title {
    font-weight: 700;
  }
  
  &.tl-notify-error {
    background-color: $color-error-500;
  }
}