
$font-family-roboto: 'Roboto', Helvetica, sans-serif;

.font-roboto {
  font-family: $font-family-roboto;
}

h1, h2, h3,
h4, h5, h6 {
  color: $color-grey-900;
  font-weight: $font-weight-bold;
  margin: 14px 0;
}

h1  { font-size: 2em; }
h2  { font-size: 1.8em; }
h3  { font-size: 1.6em; }
h4  { font-size: 1.4em; }
h5  { font-size: 1.2em; }
h6  { font-size: 1em; }


p {
  font-size: $base-font-size;
  line-height: 1.4em;
}

a {
  color: $color-primary-500;
  text-decoration: none;
  
  &:link {
    text-decoration: none;
  }
  
  &:visited {
    text-decoration: none;
  }
  
  &:hover {
    color: $color-primary-500;
    text-decoration: underline;
  }
  
  &:focus {
    text-decoration: underline;
  }
}

.lead {
  color: $color-grey-900;
  font-size: 20px;
  font-weight: $font-weight-light;
  margin: 4px 0 14px 0;
  
  @include breakpoint(tablet) {
    font-size: 22px;
  }
}

.gi {
  font-size: inherit;
}